:root {
    --shadow2: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --shadow1: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
    --purple1: #c084fc;
    --amber1: #fbbf24;
    --orange1: #facc15;
    --slate1: #f8fafc;
    --slate2: #e9edf1;
    --slate3: #475569;
    --margin-top: 4em;
    --margin-bot: 3em;
}

.container, .header, .content, .cards, .news, .trending{
    display: grid;
}

body {
    height: 100vh;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Mukta', sans-serif;
    background-color: var(--slate2);
}

.container {
    grid-template-columns: 320px 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
    'sidebar header'
    'sidebar content';
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

img {
    border-radius: 50%;
}

/* --- --- --- --- HEADER --- --- --- --- --- */

.header {
    background-color: var(--slate1);
    grid-column: 2/3;
    grid-area: header;
    grid-template-rows: 50px, 50px;
    grid-template-areas:
    'header-top'
    'header-bot';;
    box-shadow: var(--shadow2);
    z-index: 1;
    position: sticky;
    top: 0;
}

.header-top, .header-bot {
    display: flex;
}

.header-top {
    grid-area: header-top;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5em;
}

.search {
    margin-left: var(--margin-bot);
    display: flex;
    justify-content: start;
    align-items: center;
    cursor: pointer;
    width: 100%;
}

#search {
    height: 25px;
    width: min(80%, 700px);
    border-radius: 25px;
    border: 2px solid var(--purple1);
}

#search:focus {
    border: 2px solid black;
    outline: none;
}



.top-top {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 800;
}

.top-top span {
    margin-right: 2em;
    flex: 0;
    vertical-align: middle;
    margin-bottom: 0.2em;
}

.top-avatar {
    width: 50px;
    flex: 0;
    margin-right: 1em;

}

.top-name {
    margin-right: var(--margin-top);
    flex: 0;
    white-space: nowrap;
}

.top-name:hover {
    text-decoration: underline;
    cursor: pointer;
}

.header-bot {
    grid-area: header-bot;
    justify-content: space-between;
    align-items: center;
}

.profile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.avatar {
    width: 90px;
    margin-left: var(--margin-bot);
    margin-right: 1em;
}

.greeting {
    font-size: 20px;
    margin-bottom: -1.5em;
}

.name {
    font-size: 30px;
    font-weight: 600;
}

#handle {
    font-size: 25px;
}

.buttons {
    margin-right: var(--margin-bot);
}

.btn {
    height: 40px;
    width: 100px;
    border-radius: 25px;
    transition-duration: 0.4s;
    background-color: var(--purple1);
    color: var(--slate1);
    border: 2px solid var(--purple1);
    font-size: 20px;
    cursor: pointer;
    margin: 10px;
    font-size: 18px;
}

.btn:hover {
    background-color: var(--slate1);
    color: black;
    border: 2px solid var(--purple1);
}

/* --- --- --- ---  SIDEBAR --- --- --- --- --- */

.sidebar {
    background-color: var(--purple1);
    grid-column: 1/2;
    grid-row: 1/5;
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: var(--slate1);
    width: 320px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
}

.side-title {
    padding-left: 2rem;
    display: flex;
    align-items: center;
    font-size: 1.25rem;
}

.side-title span {
    font-size: 3rem;
}

.side-title span, .nav ul span {
    margin-top: -0.2em;
    margin-right: 0.5rem;
    vertical-align: middle;
}

.nav {
    font-size: 25px;
    margin-top: -2em
}

.nav ul li {
    margin-bottom: 0.5em;
}

.nav ul li:hover {
    text-decoration: underline;
}

.home {
    font-weight: 800;
}

.settings {
    margin-top: 2em;
}


.link {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    margin-top: 13em;
    margin-left: 1.25em;
}

.link:hover {
    text-decoration: underline;
}

.gitimg {
    max-height: 25px;
    max-width: 25px;
    margin: 0 5px -3px 0;
}


/* --- --- --- ---  MAIN CONTENT --- --- --- --- */

.content {
    grid-area: content;
    padding: 2rem;
    grid-column: 2/3;
    grid-template-columns: 1fr auto;
    grid-template-rows: min-content 1fr;
    gap: 2rem;
    grid-template-areas:
        'projects news'
        'projects trending';
    overflow: auto;
}

.grey-text {
    color: var(--slate3);
}

.projects {
    grid-area: projects;
}

.projects h2, .news h2, .trending h2 {
    margin-top: -0.5em;
}

.cards {
    grid-auto-rows: 250px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    padding-bottom: 2rem;
}

.card, .news-card, .trend-card {
    background-color: var(--slate1);
    gap: 10px;
    border-radius: 3%;
    box-shadow: var(--shadow1)
}

.card {
    min-width: 250px;
    border-left: 10px solid var(--amber1);
    display: flex;
    flex-direction: column;
 }

.card-title, .card-content {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 0;
    line-height: 1.25em;
}

.card-content {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-top: 0;
}

 .actions {
    margin-top: auto;
    margin-right: 2em;
    margin-bottom: 2em;
    align-self: flex-end;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5rem;
  }

.news, .trending {
    width: 30ch;
    display: flex;
    flex-direction: column;
}

.news {
    grid-column: 2/3;
    grid-area: news;
}

.news-card p, .news-card h3 {
    margin-left: 0;
}

.news-card p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-top: 0;
}

.news-list {
    width: 25ch;
    padding: 1rem 0;
}

.trending {
    grid-column: 2/3;
    grid-area: trending;
}

.trend-card {
    margin-top: 0;
}

.trend-list {
    display: flex;
    align-items: center;
}

.trend-handle {
    margin-bottom: 0;
    font-size: 0.8em;
}

.trend-name {
    margin-top: 0;
    flex: 0;
    white-space: nowrap;
}

.trend-name:hover {
    text-decoration: underline;
    cursor: pointer;
}