.container, .header, .sidebar, .content, .cards, .news, .trending{
    display: grid;
}

.container {
    grid-template-columns: 1fr 4fr;
}

.header {
    background-color: green;
    grid-column: 2/3;
}

.sidebar {
    background-color: blue;
    grid-column: 1/2;
    grid-row: 1/5;
}

.content {
    background-color: yellow;
    grid-column: 2/3;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: repeat(2, 1fr);
}

.cards {
    grid-column: 1/2;
    grid-row: 1/3;
    background-color: red;
}

.news {
    grid-column: 2/3;
    background-color: orange;
}

.trending {
    grid-column: 2/3;
    background-color: pink;
}

.card {

}